.grid-layout{
    display: grid;
    background-color:#ffff;
    max-width: 100%;
    min-height:90vh;
    margin:auto;
    
    grid-template-areas: 'nav nav'
                          'header header'
                          'aside main'
                          'footer footer';
    grid-template-columns: 20% auto;
    grid-template-rows: 5% 35% auto 10%;
}
  
.header{
    grid-area: header;
    background-color: whitesmoke;
  }
  .nav{
    grid-area: nav;
    background-color: #001946;
    
  }
  .main{
    grid-area: main;
  background-color: whitesmoke;
  }
  .aside{
    grid-area: aside;
    background-color: #001946;
  }
  .footer{
    grid-area: footer;
    background-color: #001946;
  }