*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Calibri;
}

.grid-layout{
  display: grid;
  background-color:#ffff;
  max-width: 100%;
  margin:auto;
  min-height:100vh;
  /* width: 1500px; */
  grid-template-areas: 'header header'
                        'nav nav'
                        'main aside'
                        'footer footer';
grid-template-columns: 80% auto;
grid-template-rows: 20% 10% auto 10%;
}

.header{
  grid-area: header;
  background-color: blue;
}
.nav{
  grid-area: nav;
  background-color: crimson;
}
.main{
  grid-area: main;
background-color: whitesmoke;
}
.aside{
  grid-area: aside;
  background-color: blueviolet;
}
.footer{
  grid-area: footer;
  background-color: aqua;
}