.carousel-container {
    width: 90%; 
    margin: 0 auto; 
    /* position: relative; */
    position: relative;
    bottom: 50px;
    left: 10px;
  }
  
  .carousel-container img {
    width: 50%; 
    height: auto; 
    position: relative;
  }

  .carousel-control-prev {
    left: 10;
    transform: translateX(-50%);
  }
  
  