.full-width-navbar {
    width: 100%;
    height: 80px;
    
  }

  .phone-icon {
    margin-right: 15px;
    position: relative;
    top: 10px;
  }

  .login-icon{
    margin-right: 10px;
  }
  
  .brand-image {
    vertical-align: middle;
    width: 200px;
    position: relative;
    top: 12px;
  }

  /* Estilos para el Navbar */
.navbar-dark {
  background-color: #001946;
}

.ml-auto{
  position: relative;
  top: 10px;
}

.links {
  text-decoration: none;
  color: white;
}