

.tituloC{
    position: relative;
    right: 100px;
    bottom: 200px;
}

.formulario{
    position: relative;
    bottom: 190px;
    right: 100px;
}

.btnEnviar{
    background-color: #001946;
}

/*SEGUNDO CONTAINER*/
.tituloS{
    text-align: center;
    position: relative;
    bottom: 710px;
    left: 110px;
}

.datos{
    position: relative;
    bottom: 680px;
    left: 500px;
    list-style-type: none;
  padding-left: 0;
}

.parrafito{
    position: relative;
    bottom: 640px;
    text-align: center;
    word-break: break-word;
    max-Width: 400px; 
    left: 450px;
}

.parrafito1{
    position: relative;
    bottom: 640px;
    text-align: center;
    word-break: break-word;
    max-Width: 400px; 
    left: 410px;
}

.wsp{
    position: relative;
    bottom: 600px;
    left: 110px;
    text-align: center;
}