.titlespan{
    color: white;
    display: flex;
    font-size: 12px;
    justify-content: center;
    position: relative;
    top: 30px;
}

  

.text-mute{
    color: gray;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;
    position: relative;
    top: 40px;
}